/**
* Подключение иконочных шрифтов
*/

@font-face {
	font-family: "symbols-sedona";
	font-weight: normal;
	font-style: normal;

	src: url("../font/symbols-sedona.eot?60737633");
	src: url("../font/symbols-sedona.eot?60737633#iefix") format("embedded-opentype"),
	url("../font/symbols-sedona.woff?60737633") format("woff"),
	url("../font/symbols-sedona.ttf?60737633") format("truetype"),
	url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "symbols-sedona";
    src: url("../font/symbols-sedona.svg?60737633#symbols-sedona") format("svg");
  }
}
*/

[class^="icon-font"]:before,
[class*=" icon-font"]:before {
	display: inline-block;

	width: 1em;
	margin-right: .2em;
	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	font-family: "symbols-sedona";
	font-weight: normal;
	font-style: normal;
	/* opacity: .8; */
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	text-align: center;
	text-decoration: inherit;
	text-transform: none;

	speak: none;
	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */
	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-font--facebook:before {
	content: "\66";
} /* "f" */
.icon-font--twitter:before {
	content: "\74";
} /* "t" */
.icon-font--up-dir:before {
	content: "\25b2";
} /* "▲" */
.icon-font--down-dir:before {
	content: "\25bc";
} /* "▼" */
.icon-font--star:before {
	content: "\2605";
} /* "★" */
.icon-font--check-off:before {
	content: "\2610";
} /* "☐" */
.icon-font--check-on:before {
	content: "\2611";
} /* "☑" */
.icon-font--calendar:before {
	content: "\e800";
} /* "" */
.icon-font--plus:before {
	content: "\e801";
} /* "" */
.icon-font--minus:before {
	content: "\e802";
} /* "" */
.icon-font--youtube:before {
	content: "\f39e";
} /* "" */


/**
* Styles
*/

.page {
	color: #000;
	background-color: #fff;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;

	text-transform: uppercase;
}

.wrapper {
	min-width: 768px;
	max-width: 1200px;
	margin: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

/**
* @Header
*/

.logo {
	position: absolute;
	top: 0;
	left: 50%;

	margin-left: -5.75%; /* ( от 1200px) */
}


.main-menu__list {
	padding: 0;

	font-size: 0;
	font-weight: bold;

	list-style: none;
}

.main-menu li {
	display: inline-block;

	width: 20%;

	font-size: 14px;
	line-height: 26px;

	text-align: center;
	vertical-align: top;
}

.main-menu a {
	display: block;

	padding: 12px 0 18px;

	color: #000;

	text-decoration: none;
}

/**
* $index-page
*/

/**
* @Welcome-title
*/

.welcome-title {
	min-height: 435px;
	padding-top: 75px;

	background: url("../img/shape.png") no-repeat bottom,
	url("../img/bg-sedona.jpg") no-repeat;
	background-size: 100% 57px, cover;
}

.welcome-title img {
	display: block;

	margin: auto;
}

.page .welcome-title {
	margin-bottom: 58px;
}

/**
* @Introduction
*/

.introduction {
	width: 490px; /* 490+150px(paddings)=640px */
	padding: 0 75px;

	line-height: 26px;

	text-align: center;
}

.page .introduction {
	margin: auto;
	margin-bottom: 50px;
}

.introduction__title {
	margin-bottom: 28px;

	font-size: 21px;
}

/**
* @Features
*/

.features-row {
	font-size: 0;

}

.features-row__text,
.features-row__img {
	display: inline-block;

	font-size: 14px;
	line-height: 21px;

	vertical-align: top;
}

.features-row__text {
	width: 23%; /* от 1200px */
	height: 256px;
	padding: 0 5%; /* от 1200px */

	text-align: center;
}

.features-row__text--color {
	color: #fff;
	background-color: #81b3d2;
}

.features-row__img {
	width: 67%;
}

.features-row--pict .features-row__text {
	position: relative;

	width: 22.3%; /* 268px+132px(paddings)=400px */
	height: 330px;
	padding: 0 5.5%; /* 66px */
}

.features-row--color .features-row__text {
	width: 22.3%;
	padding: 0 5.5%;

	background-color: #eee;
}

.features-row h3 {
	width: 160px;
	margin: auto;
	margin-top: 18.47826086957%; /* от 276px */
	margin-bottom: 12px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.features-row--pict h3 {
	margin-top: 27px;
}


.features p {
	margin-top: 21px;
}

.features img {
	display: block;

	width: 100%;
}

/**
* ^Icons
*/
.features-row--pict .icon {
	margin: auto;
	margin-top: 60px;
}

.icon {
	background: transparent url("../img/sprite.png") no-repeat 0 0;
}

.icon--house {
	width: 75px;
	height: 72px;

	background-position: -4px 0;
}

.icon--hamburger {
	width: 74px;
	height: 70px;

	background-position: -4px -188px;
}

.icon--souvenir {
	width: 64px;
	height: 76px;

	background-position: -16px -92px;
}

.icon--souvenir + h3 {
	margin-top: 23px;
}

/**
* @Search
*/

.page .search {
	margin: auto;
}

.search {
	width: 568px; /* 568px+150px(paddings)=640px */
	padding: 0 35px;
	padding-top: 53px;

	text-align: center;
}

.search__title {
	margin: 0;

	font-size: 30px;
	line-height: 30px;
}

.search p {
	margin-top: 29px;
	margin-bottom: 45px;

	color: #333;

	line-height: 24px;
}

.search__btn {
	display: block;

	width: 568px;
	padding: 30px 0;

	color: #fff;
	background-color: #766357;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	text-decoration: none;
}

/**
* @Map
*/

.map {
	position: relative;

	padding-top: 473px;
}

.map__container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -10;

	min-height: 593px;

	background: url("../img/map.jpg") no-repeat;
}

/**
* ^Form
*/

.map .form-search {
	position: absolute;
	top: 0;
	left: 50%;

	margin-left: -283.5px;
	/*display: none;*/
}

.form-search {
	width: 457px;
	padding: 55px;

	background-color: #fff;

	font-weight: bold;
	line-height: 26px;
}

.form-search__row {
	position: relative;

	margin-bottom: 30px;

	font-size: 0;
}

.form-search__label {
	display: inline-block;

	width: 113px;

	font-size: 14px;
}

.form-search input[type="date"] {
	width: 299px;
	padding: 9.5px 32px 9.5px 13px;
	border: none;

	background-color: #f2f2f2;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
}

.form-search__calendar {
	position: absolute;
	top: 5px;
	right: 0;

	border: none;

	color: #c2c2c2;
	background-color: transparent;

	font-family: "Symbols-sedona";
	font-size: 21px;
}

.form-search__counter {
	margin-bottom: 30px;
}

.counter input {
	width: 38px;
	height: 38px;
	padding: 0;
	border: none;

	background-color: #f2f2f2;

	font-family: "PT Sans", sans-serif;

	text-align: center;
}

.counter__less,
.counter__more {
	width: 38px;
	height: 38px;
	margin-right: -.26em; /* Убрал отступы у инлайн-блоков */
	margin-left: -.24em; /* Убрал отступы у инлайн-блоков */
	border: none;

	color: #a9a9a9;
	background-color: #f2f2f2;

	font-family: "Symbols-sedona";
}

.form-search__btn {
	width: 100%;
	margin-top: 25px;
	padding: 16px 0;
	border: none;

	color: #fff;
	background-color: #81b3d2;

	font-family: "PT Sans", sans-serif;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	text-align: center;
	text-transform: uppercase;
}

/**
* @Footer
*/

.footer-page {
	padding: 36px 0;

	background-color: rgba(255,255,255, .8);

	font-size: 0;
}

.footer-page__column {
	display: inline-block;

	width: 33.3%;
	text-align: center;
	vertical-align: middle;
}

.footer-page__hashtag {
	color: #000;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

/**
* ^Share
*/

.share {
	font-size: 0;
}
.share__icon {
	display: inline-block;

	width: 46px;
	height: 20px;
	margin-right: 7px;
	padding: 14px 0;

	color: #fff;
	background-color: #81b3d2;

	font-family: "Symbols-sedona";
	font-size: 19px;
	line-height: 20px;

	text-align: center;
	vertical-align: top;
}

.share__icon--youtube {
	font-size: 23px;
	line-height: 23px;
}

/**
* ^Copyright
*/

.copyright {
	position: relative;

	font-size: 14px;
	line-height: 26px;
}

.copyright__icon {
	display: inline-block;

	margin-left: 8px;

	vertical-align: top;
}

.copyright__icon-author {
	width: 27px;
	height: 30px;

	background: transparent url("../img/sprite.png") no-repeat -52px -280px;
}

.copyright__icon-academy {
	width: 26px;
	height: 33px;

	background: transparent url("../img/sprite.png") no-repeat -54px -332px;
}

/**
* $Hotels-page
*/

.hotels-filter {
	padding-top: 25px;
	padding-right: 6.666666666667%; /* 80px (от 1200px) */
	padding-bottom: 31px;
	padding-left: 5.833333333333%; /* 70px (от 1200px) */

	background: transparent url("../img/bg-sedona--inner.jpg") no-repeat;
	background-size: 100%, cover;

	line-height: 21px;
}

/**
* ^Form-choise
*/

/* Общая ширина 1050px */

.form-choise {
	color: #fff;

	font-size: 0;
}

.form-choise__left-column,
.form-choise__center-column,
.form-choise__right-column {
	display: inline-block;
	padding-top: 10px;

	border: none;

	font-size: 14px;

	vertical-align: top;
}

.form-choise__left-column {
	width: 24.28571428571%; /* от ширины form-choise */
}


.form-choise__right-column {
	width: 30.28571428571%; /* от ширины form-choise */
}

.form-choise__center-column {
	width: 45.42857142858%;
}

.form-choise legend {

	font-size: 16px;
	font-weight: bold;
	line-height: 21px;
}


.form-choise .checkbox {
	margin-top: 17px;
	margin-bottom: 20px;
}

.form-choise .checkbox:last-of-type {
	margin-bottom: 0;
}

.checkbox input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+.checkbox__label {
	display: inline-block;

	color: #fff;

	font-family: "PT Sans", sans-serif;

	cursor: pointer;
	vertical-align: top;
}

input[type="checkbox"]+.checkbox__label:before {
	content: "\2610";

	display: inline-block;

	margin-right: 19px;

	font-family: "Symbols-sedona";
	font-size: 24px;
	line-height: 24px;

	vertical-align: top;
}

input[type="checkbox"]:checked+.checkbox__label:before {
	content: "\2611";
}

.form-choise .range-filter {
	margin-top: 2px;
}

.range-filter__price {
	position: relative;

	padding-top: 5px;
	border: 2px solid #fff;

	border-radius: 3px;

	font-size: 0;
}

.range-filter__text-field {
	width: 50%; /* от ширины родителя */
	margin: 0;
	padding: 0;
	border: none;

	color: #fff;
	outline: none;
	background-color: transparent;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	line-height: 21px;

	text-align: center;
	text-transform: uppercase;
}

.range-filter__price:after {
	content: "";

	position: absolute;
	top: 0;
	top: 5px;
	left: 50%;

	width: 2px;
	height: 22px;
	margin-left: -1px;

	background-color: #fff;
}


.range-control {
	padding-top: 20px;
}

.range-control__scale {
	position: relative;

	height: 2px;

	background-color: #71757a;
}

.range-control__bar {
	width: 77.35849056604%; /*  от ширины range-cotrol__scale */
	height: 2px;
	margin-left: 4.464285714286%;

	background-color: #fff;
}

.range-control__handle {
	position: absolute;
	top: -9px;
	left: 0;

	width: 4px;
	height: 4px;
	border: 8px solid #fff;

	border-radius: 50%;
	background-color: #ababab;

	cursor: pointer;
}

.range-control__handle--max {
	left: 79.55974842767%; /* от ширины range-control__scale */

	background-color: #1c4f80;
}

.form-choise__btn {
	display: block;

	width: 134px;
	margin: auto;
	margin-top: 32px;
	padding: 6px 0;
	border: 2px solid #fff;

	color: #fff;
	border-radius: 3px;

	text-align: center;
	text-decoration: none;
}

/**
* @Filter
*/

/* Ширина контента 1050px */

.filter {
	padding: 30px 0;
	padding-right: 6.666666666667%; /* 80px (от 1200px)*/
	padding-left: 5.833333333333%; /* 70px (от 1200px) */
}

.filter__title {
	float: left;

	width: 143px;
	margin: 0;
	margin-right: 20px;

	font-size: 21px;
	line-height: 26px;
}

.filter-nav {
	float: left;

	width: 59.33333333333%;  /* 623px (от 1050px)  */
	padding: 0;

	font-size: 0;

	list-style: none;
}

.filter-nav__item {
	display: inline-block;

	margin-right: 32px;
	padding-top: 6px;

	font-size: 12px;
	line-height: 18px;

	vertical-align: top;
}

.filter-nav__item--title {
	margin-right: 40px;
}

.filter-nav__link {
	display: block;

	color: #000;

	text-decoration: none;
}

.filter-nav__link--active {
	color: #81b3d2;
}

.switch {
	width: 110px;

	text-align: right;
}

.filter__switch {
	float: right;
	padding-top: 3px;
}

.switch__btn {
	padding: 0;
	border: none;

	color: #ccc;
	background-color: transparent;

	font-family: "Symbols-sedona";
	font-size: 23px;
	line-height: 23px;
}

.switch__btn--up {
	color: #ccc;
}

.switch__btn--down {
	margin-right: -10px;
	margin-left: -13px;

	color: #81b3d2;
}

/**
* @Result-request
*/

/* Ширина контента 1050px */

.result-request {
	padding-top: 30px;
	padding-right: 6.666666666667%; /* 80px (от 1200px)*/
	padding-bottom: 26px;
	padding-left: 5.833333333333%; /* 70px (от 1200px) */
	line-height: 21px;
}

.result-request__row {
	margin-bottom: 55px;
}

.result-request__row:last-of-type {
	margin-bottom: 0;
}

.result-request__img {
	float: left;

	width: 135px;
	margin-right: 32px;
}

.result-request__description {
	float: left;
	width: 55.04761904762%; /* от 1050px */
}

.result-request__name {
	margin: 0;
	margin-bottom: 3px;

	font-size: 21px;
	line-height: 26px;
}

.result-request__text {
	margin-bottom: 11px;
	color: #333;
}

.result-request__text span {
	display: inline-block;
	vertical-align: top;
	width: 110px;
}

.result-request__buttons {
	font-size: 0;
}

.btn {
	display: inline-block;

	width: 78px;
	padding: 3px 16px 3px;

	color: #fff;
	background-color: #81b3d2;

	font-size: 14px;
	font-weight: bold;
	line-height: 21px;

	text-decoration: none;
}

.btn--booking {
	width: 110px;

	background-color: #766357;
}

.result-request__buttons .btn {
	margin-right: 6px;
}

/**
* ^Rating
*/

.result-request__rating {
	float: right;

	width: 135px;

	text-align: right;
}

.rating-value {
	margin: 0;
	padding: 0;

	font-size: 0;

	list-style: none;
}

.rating-value__item {
	display: inline-block;

	font-family: "Symbols-sedona";
	font-size: 19px;
	line-height: 21px;

	vertical-align: top;
}

.rating__mark {
	width: 110px;
	margin-top: 42px;
	margin-left: auto;
	padding: 4px 0;
	text-align: center;

	color: #666;
	background-color: #f2f2f2;
}

.rating-value .icon-font--star {
	margin-left: -3px;
	margin-right: -6px;
}

.icon-font--star {
	color: #81b3d2;
}
