
/**
* @subpackage
*/

/**
* $section
*/

/**
* ^subsection
*/


/**
* @Common
*/

.page {
	background-color: #f2f2f2;

	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	color: #000;

	text-transform: uppercase;
}

.wrapper {
	min-width: 768px;
	max-width: 1200px;
	margin: auto;

	background-color: #fff;
	outline: 2px solid red;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

/**
* @Header
*/

.header-page {
	outline: 2px solid green;
}


.logo {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -2.8%; /* (1200*2,8%)=34px */
	outline: 2px solid red;

}


.main-menu__list {
	font-size: 0;
	font-weight: bold;
	padding: 0;

	list-style: none;

	outline: 2px solid blue;
}

.main-menu li {
	display: inline-block;

	width: 20%;

	font-size: 14px;
	line-height: 26px;

	vertical-align: top;
}

.main-menu a {
	display: block;
	padding: 6.2% 29%; /* 15px 70px (от 240px) */

	color: #000;

	text-decoration: none;
}


/**
* $index-page
*/

/**
* @Welcome-title
*/

.welcome-title {
	min-height: 435px;
	padding-top: 80px;
	margin-bottom: 60px;

	background: url("../img/shape.png") no-repeat bottom,
              url("../img/bg-sedona.jpg") no-repeat;
	background-size: 100% 57px, cover;
	outline: 2px solid blue;
}

.welcome-title img {
	display: block;

	margin: auto;
}

/**
* @Introduction
*/

.introduction {
	width: 490px; /* 488+150px(paddings)=640px */
	margin: auto;
	margin-bottom: 50px;
	padding:0 75px;
	line-height: 26px;
	outline: 2px solid blue;
	text-align: center;
}

.introduction__title {
	margin-bottom: 30px;

	font-size: 21px;
}

/**
* @Features
*/

.features-row  {
	margin-bottom: 55px;
	font-size: 0;

	outline: 2px solid blue;
	line-height: 21px;
}

.features-row__text,
.features-row__img {
	display: inline-block;

	font-size: 14px;

	vertical-align: top;
}

.features-row__text {
	width: 23%; /* 276px (от 1200px) */
	height: 256px;
	padding: 0 5%; /* 60px (от 1200px) */
	text-align: center;
	outline: 2px solid green;
}

.features-row__text--color {
	color: #fff;
	background-color: #81b3d2;
}

.features-row__img {
	width: 67%;
}

.features-row--pict .features-row__text  {
	position: relative;
	width: 22.3%; /* 268px+132px(padding)=400px */
	height: 330px;
	padding: 0 5.5%; /* 66px */
}

.features-row--color .features-row__text {
	width: 22.3%;
	padding: 0 5.5%;
	background-color: #eee;
}

.features-row h3 {
	width: 160px;
	margin: auto;
	margin-top: 18%; /* 50px ( от 276px) */
	margin-bottom: 11px;

	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
}

.features-row--pict h3 {
	margin-top: 160px;
}

.features p {
	margin-top: 20px;
}

.features img {
	display: block;

	width: 100%;
}

/**
* ^Icon
*/
.icon:before {
	position: absolute;
	top: 63px;
	left: 50%;


	background: transparent url("../img/sprite.png") no-repeat 0 0;
}

.icon--house:before {
	content: "";

	width: 75px;
	height: 72px;
	margin-left: -37px;
	background: transparent url("../img/sprite.png") no-repeat -4px 0;
}

.icon--hamburger:before {
	content: "";
	width: 74px;
	height: 70px;
	margin-left: -37px;
	background: transparent url("../img/sprite.png") no-repeat -4px -188px;
}

.icon--souvenir:before {
	content: "";
	width: 64px;
	height: 76px;
	margin-left: -32px;
	background: transparent url("../img/sprite.png") no-repeat -16px -92px;
}

/**
* @Search
*/

.search {
	width: 568px; /* 568px+150px(paddings)=640px */
	margin: auto;
	padding:0 35px;
	outline: 2px solid blue;
	text-align: center;
}

.search__title {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
}

.search p {
	line-height: 24px;
	margin-top: 30px;
	margin-bottom: 47px;
}

.search__btn {
	display: block;
	width: 568px;
	padding: 30px 0;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-decoration: none;
	color: #fff;
	background-color: #766357;

}

/**
* @Map
*/

.map {
	position: relative;
	outline: 2px solid red;
	padding-top: 473px;
	}

.map__container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -10;
	background: url("../img/map.jpg") no-repeat;
	min-height: 593px;
	outline: 2px solid purple;
}

/**
* ^Form
*/
.form-search {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 50%;
	width: 570px;
	margin-left: -285px;
	outline: 2px solid red;

}

/**
* @Footer
*/

.footer-page {
	padding: 37px 0;
	background-color: rgba(255,255,255, .9);
	font-size: 0;
	outline: 2px solid green;
}

.footer-page__column {
	display: inline-block;
	width: 33.3%;

	outline: 2px solid blue;
	font-size: 14px;
	line-height: 26px;
	vertical-align: top;
	text-align: center;
}

.footer-page__hashtag {
	color: #000;
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
}

/**
* ^Share
*/

.share {
	font-size: 0;
}
.share__icon {
	display: inline-block;
	vertical-align: top;
	width: 48px;
	height: 48px;
	background-color: #81b3d2;
	color: #fff;
	font-size: 20px;
	margin-right: 7px;
	text-align: center;
}

/**
* ^Copyright
*/

.copyright__text {
	line-height: 26px;
}

/**
* $Hotels-page
*/


.hotels-filter {
	padding: 30px 0;
	padding-left: 5.833333333333%; /* 70px (от 1200px) */
	padding-right: 6.666666666667%; /* 80px (от 1200px) */
	background: transparent url("../img/bg-sedona--inner.jpg") no-repeat;
	background-size: 100%, cover;
	outline: 2px solid green;
	line-height: 21px;
}

/**
* ^Form-choise
*/

/* Общая ширина 1050px */

.form-choise {
	font-size: 0;
	outline: 2px solid blue;
	color: #fff;
}

.form-choise legend {
	font-size: 16px;
}

.form-choise__left-column,
.form-choise__center-column,
.form-choise__right-column {
	display: inline-block;
	font-size: 14px;
	vertical-align: top;
	border: none;
}

.form-choise__left-column,
.form-choise__right-column {
	width: 32%; /* от ширины form-choise */
}

.form-choise__center-column {
	width: 36%; /* от ширины form-choise */
}

/**
* @Filter
*/

/* Ширина контента 1050px */

.filter {
	padding: 29px 0;
	padding-left: 5.833333333333%; /* 70px (от 1200px) */
	padding-right: 6.666666666667%; /* 80px (от 1200px)*/
	outline: 2px solid blue;
}



.filter__title {
	float: left;
	width: 143px;
	margin: 0;
	font-size: 21px;
	line-height: 26px;
	outline: 2px solid blue;
	margin-right: 20px;
}

.filter-nav {
	float: left;
	padding: 0;

	width: 59.33333333333%;  /* 623px (от 1050px)  */
	list-style: none;
	font-size: 0;
	outline: 2px solid blue;

}


.filter-nav__item {
	display: inline-block;
	padding-top: 6px;
	vertical-align: top;
	font-size: 12px;
	line-height: 18px;
	margin-right: 32px;

}

.filter-nav__item--title {
	margin-right: 40px;
}

.filter-nav__link {
	display: block;
	text-decoration: none;
	color: #000;
}

.filter-nav__link--active {
	color: #81b3d2;
}

.filter__switch {
	float: right;
	width: 110px;
	font-size: 23px;
	line-height: 23px;
	text-align: right;
	outline: 2px solid blue;
}

/**
* @Result-request
*/

/* Ширина контента 1050px */

.result-request {
	padding-top: 28px;
	padding-bottom: 30px;
	padding-left: 5.833333333333%; /* 70px (от 1200px) */
	padding-right: 6.666666666667%; /* 80px (от 1200px)*/
	outline: 2px solid red;
	line-height: 21px;
}


.result-request__img {
	float: left;
	width: 135px;
	margin-right: 32px;
	outline: 2px solid green;
}


.result-request__description {
	float: left;

	width: 56.99404761905%; /* 599px (от 1050px) */
	outline: 2px solid green;

}


.result-request__name {
	margin: 0;
	margin-bottom: 10px;
	font-size: 21px;
	line-height: 26px;
}

.result-request__text {
	margin-bottom: 10px;
}
.result-request__text span {
	margin-right: 35px;
	color: #333;
}

.result-request__buttons {
	font-size: 0;
}




.btn {
	display: inline-block;
	width: 78px;
	padding: 3px 16px 3px;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	line-height: 21px;
	background-color: #81b3d2;
}

.btn--brown {
	width: 110px;
	background-color: #766357;
}

.result-request__buttons .btn {
	margin-right: 6px;
}

/**
* ^Rating
*/

.rating ul {
	list-style: none;
	margin: 0;
	background-color: red;
}

.result-request__rating {
	float: right;

	width: 122px;
	text-align: right;
	outline: 2px solid green;

}

.rating__mark {
	width: 110px;
	padding: 3px 0;
	margin-left: auto;
	color: #666;
	background-color: #f2f2f2;
}